<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="debug" type="bool" label="32001" default="false"/>
    <setting id="drm" type="enum" label="32018" lvalues="32019|32020"/>
    <setting id="oldformat" enable="eq(-1,0)" type="bool" label="32007" default="true"/>
    <setting id="limitlist" type="bool" label="32009" default="false"/>
    <setting id="sort" type="select" label="32012" lvalues="32013|32014" />
</settings>
